USE [master]
GO
/****** Object:  Database [Trabajo2 Remoto]    Script Date: 20-11-2024 9:35:45 ******/
CREATE DATABASE [Trabajo2 Remoto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trabajo2 Retorno', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Trabajo2 Retorno.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trabajo2 Retorno_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Trabajo2 Retorno_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trabajo2 Remoto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trabajo2 Remoto]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 20-11-2024 9:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[IDAlumno] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](25) NULL,
	[ApellidoPAt] [nchar](25) NULL,
	[ApellidoMat] [nchar](25) NULL,
	[Email] [nchar](50) NULL,
	[NumeroMatricula] [nchar](50) NULL,
 CONSTRAINT [PK_Alumno] PRIMARY KEY CLUSTERED 
(
	[IDAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignatura]    Script Date: 20-11-2024 9:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignatura](
	[IDAsignatura] [int] IDENTITY(1,1) NOT NULL,
	[NombreAsignatura] [nchar](25) NULL,
	[Creditos] [int] NOT NULL,
 CONSTRAINT [PK_Asignatura] PRIMARY KEY CLUSTERED 
(
	[IDAsignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
